.section--carousel-hero {
  background-color: var(--clr-yellow);
  border-bottom: 4px solid var(--clr-black);
  padding: 82px 0 20px;
  position: relative;
}

@media (max-width: 767px) {
  .section--carousel-hero {
    padding-top: 58px;
  }
}

/* the slides */
.slick-slide {
  padding-left: 15px;
  user-select: none;
}

.link-container {
  max-width: 620px;
  width: 50%;
  position: relative;
  user-select: none;
}
.side-link {
  user-select: none;
  -webkit-user-drag: none;
}

.section--carousel-hero .hover-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 12px 24px 10px;
  border-radius: 70px;
  background-color: var(--clr-white);
  font-size: 1.5em;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 30;
}

@media (max-width: 992px) {
  .section--carousel-hero .hover-text {
    font-size: 0.875em;
  }
}
.link-container:focus .hover-text,
.link-container:hover .hover-text {
  opacity: 1;
}

.section--carousel-hero .svg-cutout {
  stroke: var(--clr-black);
  stroke-width: 4px;
}

@media (max-width: 767px) {
  .section--carousel-hero .svg-cutout {
    stroke-width: 8;
  }
}

.snippet--cutout-image .svg-cutout {
  display: block;
  height: auto;
  width: 100%;
}

.section--carousel-hero .donation-badge-link {
  position: absolute;
  bottom: -90px;
  right: calc(50vw - 620px);
}
@media (max-width: 1250px) {
  .section--carousel-hero .donation-badge-link {
    right: var(--container-padding);
  }
}
@media (max-width: 767px) {
  .section--carousel-hero .donation-badge-link {
    bottom: -60px;
  }
}
@media (max-width: 767px) {
  .section--carousel-hero .donation-badge-link .badge {
    height: 120px;
    width: 120px;
  }
}
.animation--rotate {
  animation: rotate 10s linear 0s infinite;
  transform-origin: center center;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
.badge .hand {
  transform: translateX(12px);
  transition: transform 0.3s ease;
}
.badge:hover .hand {
  transform: translateX(-5px);
}

.badge .highfive {
  opacity: 0;
  transform: translateX(15px) scale(0.9);
  transform-origin: center bottom;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.badge:hover .highfive {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.badge .sparks {
  opacity: 0;
  transform: scale(0.9);
  transform-origin: center center;
  transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s;
}

.badge:hover .sparks {
  opacity: 1;
  transform: scale(1);
}
