@font-face {
  font-family: "Whyte Regular";
  src: url("../public/fonts/Whyte-Regular.woff2") format("woff2"),
    url("../public/fonts/Whyte-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whyte Bold";
  src: url("../public/fonts/Whyte-Bold.woff2") format("woff2"),
    url("../public/fonts/Whyte-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whyte Inktrap";
  src: url("../public/fonts/WhyteInktrap-Regular.woff2") format("woff2"),
    url("../public/fonts/WhyteInktrap-Regular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --ff-primary: "Whyte Regular";
  --ff-seconday: "Whyte Bold";
  --ff-third: "Whyte Inktrap";
  --clr-black: #000;
  --clr-white: #fff;
  --clr-red: #f24e1e;
  --clr-green: #0fa958;
  --clr-yellow: #ffc700;
  --clr-purple: #c7b9ff;
  --max-width: 1280px;
  --container-padding: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: var(--clr-white);
}
html:focus-within {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul {
  list-style: none;
}

a {
  background-color: transparent;
  font-family: var(--ff-primary);
  color: var(--clr-black);
  font-size: 0.85vw;
  line-height: 0.85vw;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-decoration: none;
  text-transform: uppercase;
}
a:visited {
  color: unset;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-black);
  line-height: 1;
  font-size: 18px;
}
